<section class="py-5" id="projects">
  <div class="container px-5 mb-5">
    <div class="text-center mb-5">
      <h1 class="display-5 fw-bolder mb-0">
        <span class="text-gradient d-inline">{{header?.textString}}</span>
        @if(isAdmin | async){
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#portfolioTextUpdateModal">Edit</button>

                  
          <!-- Modal -->
          <div class="modal fade" id="portfolioTextUpdateModal" tabindex="-1" aria-labelledby="portfolioTextUpdateModalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                  <h1 class="modal-title fs-5" id="portfolioTextUpdateModalLabel">Edit</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                        <form [formGroup]="updateHeaderForm">
                        
                          <div class="input-group input-group-sm mb-3">
                              <span class="input-group-text" id="inputGroup-sizing-sm">Başlık</span>
                              <input type="text" class="form-control" formControlName="text" placeholder="{{header?.textString}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                          </div>
                        </form>
                      </div>
                  </div>
                  <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                  <button type="button" class="btn btn-primary"data-bs-dismiss="modal" (click)="updateTextString(header.id)">Değişiklikleri Uygula</button>
                  </div>
              </div>
              </div>
          </div>
        }
      </h1>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-11 col-xl-9 col-xxl-8">
        <!-- Project Card 1-->
        <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">{{topPhoto?.headerText}}</h2>
                <p>
                  {{topPhoto?.description}}
                </p>
              </div>
              <img class="img-fluid firstImage" src={{topPhoto?.url}} alt="..." />
            </div>
            <img class="img-fluid secondImage" style="width: 100%" src={{topPhoto?.url}} alt="..." />
          </div>
          @if(isAdmin | async){
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#topPhotoEditModal">Edit</button>

                    
            <!-- Modal -->
            <div class="modal fade" id="topPhotoEditModal" tabindex="-1" aria-labelledby="topPhotoEditModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="topPhotoEditModalLabel">Edit Portfolyo 1</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="updatePortfolyoPhotoForm">
                        <div class="row">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Üst Yazı</span>
                                <input type="text" class="form-control" formControlName="headerText" placeholder="{{topPhoto?.headerText}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Açıklama</span>
                                <input type="text" class="form-control" formControlName="description" placeholder="{{topPhoto?.description}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group mb-3">
                              <label class="input-group-text" for="inputGroupFile01">Fotoğraf</label>
                              <input type="file" class="form-control" formControlName="imageData" id="inputGroupFile01" (change)="onFileSelected($event)">
                            </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatePortfolyoPhoto(topPhoto.id,topPhoto.isMain,topPhoto.isCertificate)" >Değişiklikleri Uygula</button>
                    </div>
                </div>
                </div>
            </div>
          }

        </div>
        <!-- Project Card 2-->
        <div class="card overflow-hidden shadow rounded-4 border-0">
          <div class="card-body p-0">
            <div class="d-flex align-items-center">
              <div class="p-5">
                <h2 class="fw-bolder">{{bottomPhoto?.headerText}}</h2>
                <p>
                  {{bottomPhoto?.description}}
                </p>
              </div>
              <img class="img-fluid firstImage" src={{bottomPhoto?.url}} alt="..." />
            </div>
            <img class="img-fluid secondImage" style="width: 100%" src={{bottomPhoto?.url}} alt="..." />
          </div>
          @if(isAdmin | async){
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bottomPhotoEditModal">Edit</button>

                    
            <!-- Modal -->
            <div class="modal fade" id="bottomPhotoEditModal" tabindex="-1" aria-labelledby="bottomPhotoEditModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="bottomPhotoEditModalLabel">Edit Portfolyo 2</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form [formGroup]="updatePortfolyoPhotoForm2">
                        <div class="row">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Üst Yazı</span>
                                <input type="text" class="form-control" formControlName="headerText" placeholder="{{bottomPhoto?.headerText}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Açıklama</span>
                                <input type="text" class="form-control" formControlName="description" placeholder="{{bottomPhoto?.description}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <div class="input-group mb-3">
                              <label class="input-group-text" for="inputGroupFile01">Fotoğraf</label>
                              <input type="file" class="form-control" formControlName="imageData" id="inputGroupFile01" (change)="onFileSelected2($event)">
                            </div>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updatePortfolyoPhoto2(bottomPhoto.id,bottomPhoto.isMain,bottomPhoto.isCertificate)">Değişiklikleri Uygula</button>
                    </div>
                </div>
                </div>
            </div>
          }

        </div>
        <div class="row justify-content-center mt-4">
          <div class="col-md-4" style="text-align: center">
            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/portfolio">Hepsini Gör</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

