body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    width: 100%;
    background-color: white;
    padding: 1rem;
    bottom: 0;
    left: 0;
    z-index: 1000; 
  }