<section class="bg-light py-3" id="about">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center">
          <h2 class="display-5 fw-bolder">
            <span class="text-gradient d-inline" style="font-size: 3rem">{{header.textString}}</span>
          </h2>
          @if (isAdmin | async) {

            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#headerTextEditModal">Edit</button>
    
    
          <!-- Modal -->
          <div class="modal fade" id="headerTextEditModal" tabindex="-1" aria-labelledby="headerTextEditModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="headerTextEditModalLabel">Edit Certificates Text</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="headerTextUpdateForm">
                  <div class="row">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Başlık</span>
                      <input type="text" class="form-control" formControlName="text" placeholder="{{header?.textString}}"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                  </div>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateHeader(header.id)">Değişiklikleri Uygula</button>
                </div>
              </div>
            </div>
          </div>
          }
          <p class="lead fw-light mb-4" style="font-size: 2rem; font-weight: bold !important">
            "{{headerBoldText.textString}}"
          </p>
          @if (isAdmin | async) {

            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#headerBoldTextEditModal">Edit</button>
    
    
          <!-- Modal -->
          <div class="modal fade" id="headerBoldTextEditModal" tabindex="-1" aria-labelledby="headerBoldTextEditModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="headerBoldTextEditModalLabel">Edit Certificates Text</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="headerBoldTextUpdateForm" >
                  <div class="row">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Alt Başlık</span>
                      <input type="text" class="form-control" formControlName="text"  placeholder="{{headerBoldText?.textString}}"
                        aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                  </div>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateBoldText(headerBoldText.id)">Değişiklikleri Uygula</button>
                </div>
              </div>
            </div>
          </div>
          }
          <p class="text-muted" style="font-size: larger">
            {{headerDescription.textString}}
          </p>
        </div>

        @if (isAdmin | async) {

          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#headerDescriptionEditModal">Edit</button>
  
  
        <!-- Modal -->
        <div class="modal fade" id="headerDescriptionEditModal" tabindex="-1" aria-labelledby="headerDescriptionEditModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="headerDescriptionEditModalLabel">Edit Certificates Text</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="headerDescriptionUpdateForm">
                <div class="row">
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Açıklama</span>
                    <input type="text" class="form-control" formControlName="text"  placeholder="{{headerDescription?.textString}}"
                      aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
                </div>
              </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-primary"data-bs-dismiss="modal" (click)="updateDescription(headerDescription.id)">Değişiklikleri Uygula</button>
              </div>
            </div>
          </div>
        </div>
        }

      </div>
    </div>
  </div>
</section>

<div class="container mb-5">
  <div class="row">
    @for (certificate of certificates; track $index) {
    <div class="content col-md-12">
      <div class="workBx">
        <div class="imgBx card" style="border-radius: 10px">
          <img style="width: 100%; border-radius: 10px" src={{certificate.url}} />
        </div>
      </div>
    </div>
    }
  </div>
</div>