<section class="bg-light py-4" id="about">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xxl-8">
        <div class="text-center">
          <h2 class="display-5 fw-bolder">
            <span class="text-gradient d-inline" style="font-size: 3rem">{{header.textString}}</span>
          </h2>
          <p class="lead fw-light mb-4" style="font-size: 2rem; font-weight: bold !important">
            "{{headerBoldText.textString}}"
          </p>
          <p class="text-muted" style="font-size: larger">
            {{headerDescription.textString}}
          </p>
          <a class="text-gradient"><i class="bi bi-info-circle">
              {{headerItalicText.textString}}</i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="project adjust container" id="project">
  <div class="row">
    @for (photo of photos; track $index) {
    <div class="content col-md-4">
      <div class="workBx">
        <div class="imgBx">
          <img src="{{photo.url}}" />
        </div>
        <div class="textBx" style="
              background-image: url({{photo.url}});
              background-color: #444;
              background-blend-mode: multiply;
            ">
          <h3>{{photo.description}}</h3>
        </div>
      </div>
    </div>
    }

  </div>
</section>