<div class="container px-5 my-5" id="resume">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Deneyim</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->

                    <button class="btn btn-primary px-4 py-3" (click)="download()">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </button>
                </div>
                <!-- Experience Card 1-->

                @for (experience of experiences; track $index) {
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">{{experience.startDate}} -
                                        {{experience.endDate}}</div>
                                    <div class="small fw-bolder">{{experience.title}}</div>
                                    <div class="small text-muted">{{experience.company}}</div>
                                    <div class="small text-muted">{{experience.city}}</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{experience.description}}</div>
                            </div>

                            @if(isAdmin |async){
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="openExperienceEditModal(experience)" data-bs-target="#experienceEditModal">Edit</button>

                    
                                <!-- Modal -->
                                <div class="modal fade" id="experienceEditModal" tabindex="-1" aria-labelledby="experienceEditModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="experienceEditModalLabel">Resume Edit</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="updateExperienceForm">
                                            <div class="row">
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Başlangıç Tarihi</span>
                                                    <input type="text" class="form-control" formControlName="startDate" placeholder="{{editExperience?.startDate}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Bitiş Tarihi</span>
                                                    <input type="text" class="form-control" formControlName="endDate" placeholder="{{editExperience?.endDate}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Başlık</span>
                                                    <input type="text" class="form-control" formControlName="title" placeholder="{{editExperience?.title}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">İş Yeri</span>
                                                    <input type="text" class="form-control" formControlName="company" placeholder="{{editExperience?.company}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Şehir</span>
                                                    <input type="text" class="form-control" formControlName="city" placeholder="{{editExperience?.city}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Açıklama</span>
                                                    <input type="text" class="form-control" formControlName="description" placeholder="{{editExperience?.description}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                  
                                            </div>
                                        </form>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"(click)="updateExperience(editExperience.id)">Değişiklikleri Uygula</button>
                                        </div>
                                    </div>
                                    </div>
                                </div> 
                            }

                        </div>

                    </div>
                </div>
                }
            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Eğitim</h2>
                <!-- Education Card 1-->

                @for (education of educations; track $index) {
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">{{education.startDate}} -
                                        {{education.endDate}}</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">{{education.school}}</div>
                                        <div class="small text-muted">{{education.department}}</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">{{education.degree}}</div>
                                        <div class="small text-muted">{{education.type}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>{{education.description}}</div>
                            </div>
                            @if(isAdmin | async){
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="openEducationEditModal(education)" data-bs-target="#educationEditModal">Edit</button>

                    
                                <!-- Modal -->
                                <div class="modal fade" id="educationEditModal" tabindex="-1" aria-labelledby="educationEditModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="educationEditModalLabel">Resume Edit</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form [formGroup]="updateEducationForm">
                                            <div class="row">
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Başlangıç Tarihi</span>
                                                    <input type="text" class="form-control" formControlName="startDate" placeholder="{{editEducation?.startDate}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Bitiş Tarihi</span>
                                                    <input type="text" class="form-control" formControlName="endDate" placeholder="{{editEducation?.endDate}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Okul</span>
                                                    <input type="text" class="form-control" formControlName="school" placeholder="{{editEducation?.school}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Departman</span>
                                                    <input type="text" class="form-control" formControlName="department" placeholder="{{editEducation?.department}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Degree</span>
                                                    <input type="text" class="form-control" formControlName="degree" placeholder="{{editEducation?.degree}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Eğitim</span>
                                                    <input type="text" class="form-control" formControlName="type" placeholder="{{editEducation?.type}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                                <div class="input-group input-group-sm mb-3">
                                                    <span class="input-group-text" id="inputGroup-sizing-sm">Açıklama</span>
                                                    <input type="text" class="form-control" formControlName="description" placeholder="{{editEducation?.description}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                </div>
                                            </div>
                                        </form>
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateEducation(editEducation.id)" >Değişiklikleri Uygula</button>
                                        </div>
                                        
                                    </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
                }

            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-stars"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Beceriler</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                @for (skill of skills; track $index) {
                                <div class="col mb-4 mb-md-0 mt-3">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        {{skill.skillName}}
                                    </div>

                                    @if(isAdmin | async){
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="openSkillEditModal(skill)" data-bs-target="#skillEditModal">Edit</button>

                    
                                        <!-- Modal -->
                                        <div class="modal fade" id="skillEditModal" tabindex="-1" aria-labelledby="skillEditModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="skillEditModalLabel">Resume Edit</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form [formGroup]="updateSkillsForm">
                                                
                                                    <div class="row">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <span class="input-group-text" id="inputGroup-sizing-sm">Beceri Adı</span>
                                                            <input type="text" class="form-control" formControlName="skillName" placeholder="{{editSkill?.skillName}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                        </div>
                                                    </div>

                                                </form>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                                <button type="button" class="btn btn-primary"data-bs-dismiss="modal" (click)="updateSkill(editSkill.id)">Değişiklikleri Uygula</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                                }
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-hearts"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Yabancı Dil</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                @for (language of languages; track $index) {
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                                        <i>{{language.languageName}}</i>
                                    </div>

                                    @if (isAdmin | async) {
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="openLanguageEditModal(language)" data-bs-target="#languageEditModal">Edit</button>

                    
                                        <!-- Modal -->
                                        <div class="modal fade" id="languageEditModal" tabindex="-1" aria-labelledby="languageEditModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="languageEditModalLabel">Resume Edit</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <form [formGroup]="updateLanguageForm">
                                                        <div class="input-group input-group-sm mb-3">
                                                            <span class="input-group-text" id="inputGroup-sizing-sm">Yabancı Dil</span>
                                                            <input type="text" class="form-control" formControlName="languageName" placeholder="{{editLanguage?.languageName}}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                                        </div>
                                                    </form>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateLanguage(editLanguage.id)">Değişiklikleri Uygula</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div style="text-align: center;">
                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" (click)="toggle()">CV Gizle</a>
            </div>
        </div>
    </div>
</div>