<div class="container px-5 my-5" id="resume">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <a class="btn btn-primary px-4 py-3" href="#!">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </a>
                </div>
                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2024 - Present</div>
                                    <div class="small fw-bolder">Fransızca Tercüman</div>
                                    <div class="small text-muted">Amerikan Kültür Dil Okulu</div>
                                    <div class="small text-muted">Eskişehir</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2023 - Present</div>
                                    <div class="small fw-bolder">İngilizce Öğretmeni</div>
                                    <div class="small text-muted">Şehir Koleji</div>
                                    <div class="small text-muted">Eskişehir</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 3-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2021 - 2023</div>
                                    <div class="small fw-bolder">İngilizce Öğretmeni</div>
                                    <div class="small text-muted">Amerikan Kültür Dil Okulu</div>
                                    <div class="small text-muted">Eskişehir</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 4-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2020 - 2021</div>
                                    <div class="small fw-bolder">İngilizce Öğretmeni</div>
                                    <div class="small text-muted">Şirin Minikler Akademisi</div>
                                    <div class="small text-muted">Eskişehir</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 5-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2019 - 2019</div>
                                    <div class="small fw-bolder">İngilizce Öğretmeni</div>
                                    <div class="small text-muted">English Time Dil Okulları</div>
                                    <div class="small text-muted">Eskişehir</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Experience Card 6-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2017 - 2019</div>
                                    <div class="small fw-bolder">İngilizce Öğretmeni</div>
                                    <div class="small text-muted">Amerikan Kültür Anaokulu</div>
                                    <div class="small text-muted">Eskişehir</div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Education Section-->
            <section>
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2018 - 2023</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Anadolu Üniversitesi</div>
                                        <div class="small text-muted">Français Langue Etrangère</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Lisans</div>
                                        <div class="small text-muted">Fransızca Öğretmenliği</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2022 - 2024</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">Anadolu Üniversitesi</div>
                                        <div class="small text-muted">Çocuk Gelişim</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Ön Lisans</div>
                                        <div class="small text-muted">Çocuk Gelişim</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi "></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Beceriler</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Etkili İletişim
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Çeşitli Öğretim
                                        Metodları</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">İnteraktif
                                        Dersler</div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Adapte
                                        Materyaller</div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Öğrenci
                                        Merkezlilik
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Pedagojik
                                        İnovasyon
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi"></i></div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Yabancı Dil</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"><i>İngilizce -
                                            C2</i></div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Fransızca - C2
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">İtalyanca - A1
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div style="text-align: center;">
                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" (click)="toggle()">CV Gizle</a>
            </div>
        </div>
    </div>
</div>